<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li ng-class="{active: assetTabMenuCtrl.active === 0}">
				<a href="" ng-click="assetTabMenuCtrl.active = 0">Assets</a>
			</li>
			<li ng-class="{active: assetTabMenuCtrl.active === 1}">
				<a href="" ng-click="assetTabMenuCtrl.active = 1">Asset Groups</a>
			</li>
			<li ng-class="{active: assetTabMenuCtrl.active === 2}">
				<a href="" ng-click="assetTabMenuCtrl.active = 2">Experiments</a>
			</li>
		</ul>

		<div id="myTabContent" class="tab-content">
	      <div role="tabpanel" class="tab-pane" ng-class="{active: assetTabMenuCtrl.active === 0}" 
		      ng-show="assetTabMenuCtrl.active === 0" ng-controller="AssetsCtrl as assetsCtrl" 
		      ng-include src="'views/assets.html'">
	      </div>
	      <div role="tabpanel" class="tab-pane" ng-class="{active: assetTabMenuCtrl.active === 1}" 
		      ng-show="assetTabMenuCtrl.active === 1" ng-controller="AssetGroupsCtrl as assetGroupsCtrl" 
		      ng-include src="'views/assetgroups.html'">

	      </div>
	      <div role="tabpanel" class="tab-pane" ng-class="{active: assetTabMenuCtrl.active === 2}" 
		      ng-show="assetTabMenuCtrl.active === 2" ng-controller="ExperimentsCtrl as experimentsCtrl" 
		      ng-include src="'views/experiments.html'">

	      </div>
	    </div>
	</div>

</div>	